
<div class="container mt-4">
    <div class="card" style="width: 20rem;background-color: aliceblue;">
        <div class="card-header">
          About Me 
          <img src="{{image}}" class="card-img-top" alt="...">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nombre: <span>Deyvi Fernando Tziu Gomez</span></li>
          <li class="list-group-item">Ciudad: <span>{{ciudad}}</span></li>
          <li class="list-group-item">Hobby: <span>{{hobby}}</span></li>
        </ul>
      </div>
</div>
<hr>
<div>
  <label>Service:</label>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edad</th>
        <th scope="col">IS</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.result.name}}</td>
        <td>{{this.result.edad}}</td>
        <td>{{this.result.is}}</td>
        <td>{{this.result.ciudad}}</td>
        <td>{{this.result.estado}}</td>
      </tr>
      </tbody>
      </table>
</div>

  


