<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="title m-0" fxFlex="auto">{{unicorn?.name}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider class="mx-6 text-border"></mat-divider>
<mat-dialog-content class="my-6" fxLayout="column">
    
    <mat-card class="example-card">
        <mat-card-title>{{unicorn?.name}}</mat-card-title>
        <mat-card-subtitle>{{unicorn?.age}}</mat-card-subtitle>
        <mat-card-content>
            <p>{{unicorn?.colour}}</p>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-divider class="mx-6 text-border"></mat-divider>
<mat-dialog-actions align="end">
    <button cdkFocusInitial color="warn" mat-button mat-dilaog-close type="button">CERRAR</button>
</mat-dialog-actions>